<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.posturedetection</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/shenshen/code/projects/sitstraight/start_posture_detection.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/shenshen/code/projects/sitstraight/posture_detection_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/shenshen/code/projects/sitstraight/posture_detection_stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/shenshen/code/projects/sitstraight</string>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>5</integer>
</dict>
</plist> 